<form>
     <br>
     <div>
         <h1 class="text-center">Registro de usuario </h1><br>
     </div>
     <div class=" row" >
         <div class=" col">
             <label> Nombre completo</label> 
             <input type= "text" class=" form-control"placeholder=" Ej. Juan Pérez" />
             </div>
            <div class=" col">
                <label> Correo Electronico </label>
                <input type="text" class=" form-control" placeholder=" ejemplo@email.com" />
            <br>
            </div>      
            </div>      
    <div class=" row">
        <div class=" col">
            <label>Telefono</label>       
            <input type="text" class=" form-control" placeholder=" Ej. +34 600 123 456" />
        </div>
        <div class=" col">
            <label>Fecha de nacimiento</label>
            <input type="date" class=" form-control" placeholder=" dd/mm/aaaa" />
            <br>
        </div>
    </div>
   

    <div class="mb-3">
        <label class="form-label">Dirección</label>
        <textarea class="form-control" rows="3" placeholder=" Escribe tu dirección completa"></textarea>
         
    </div>

    <div>
        <div class="mb-3">
            <label class="form-label">País</label>
            <select class   ="form-select" >
                <option value="" selected disabled class="text-secondary">Selecciona tu país</option>
                <option value="1">Colombia</option>
                <option value="2">Peru</option>
                <option value="3">Argentina</option>
                <br>
            </select>
        </div>
    </div>

    <div>
        <label class="form-label">Género</label>
    </div>
    <div class="form-check">    
        <input type="radio" class="form-check-input" name="miradio" />
        <label>Masculino</label>
